@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0px auto;
    scroll-behavior: smooth;
}

/* notebox_item */
.notebox_item {
    background-color: azure;
    border: 1px solid rgb(182, 182, 182);
    width: 230px;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    box-shadow: 1px 1px 5px rgb(209, 209, 209);
}

/* .notebox_list li {
    background-color: azure;
    border: 1px solid black;
    width: 160px;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
} */

.button_delete {
    background-color: #ffeeee;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 2px;
    margin-right: 4px;
    width: 70%;
}

.button_arsip {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 2px;
    width: 30%;
}

.button_delete_archive {
    background-color: #ffeeee;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 2px;
    margin-right: 4px;
    width: 50%;
}

.button_arsip_archive {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 2px;
    width: 50%;
}

/* Largest Screen */
@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

/* Small Screen */
@media (max-width: 640px) {
    html {
        font-size: 12px;
    }
    .notebox_item {
        width: 160px;
        border-radius: 8px;
        margin: 8px;
        padding: 8px;
    }
}